.has-error input,
.has-error select,
.has-error textarea {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.help-block {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.25rem;
}

.help-block p {
    margin: 0;
}

.form-check-input.is-invalid {
    border-color: #dc3545;
}

.form-text {
    font-size: 0.875em;
}